@charset "UTF-8";

/* --------------全体------------------------   */
img {max-width: 100%;
  vertical-align: bottom;}

li {
  list-style: none;
}

body {
  font-family: 'Meiryo', 'メイリオ';
  color:#000000;
  background-color: #f0f0f0;
}

section {
  padding: 0 16px;
}

h2 .en {
  display: block;
  font-size: 36px;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}
h2 .ja {
  display: block;
  font-size: 14px;
  margin-bottom: 36px;
}


h2::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
  margin-bottom: 60px;
}



section {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 16px;
}


/* --------------header----------------------   */
#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-left {
  display: flex;
 justify-content: left;
}

#header-left img {
  width: 100px;
  line-height: 1px;
  /* height: 25px; */
  margin: 28px 30px 26px 91px;
  }

#header-left nav ul{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
}



#header-left nav ul li {
  margin: 30px 0 30px 30px;
}

#header-a {
  width: 200px;
  height: 80px;
  /* padding: 31px 76px; */
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
}

/* --------------main-visual----------------------   */
#main-visual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}




/* --------------NEWS----------------------   */
#news h2 {
  margin-top: 120px;
}

#news .list {
  display: flex;
  justify-content: space-between;
}

#news .list li {
  width: calc(100%/3);
  border-right: 1px solid #000000;
  padding: 10px 20px;
}

#news .list li:first-child {
  padding-left: 0;
}

#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}

#news .list li .date-area {
  margin-bottom: 16px;
}


#news .list li .date-area span {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* --------------ABOUT----------------------   */
#about {
  margin-top: 120px;
  display: flex;
  margin-bottom: 120px;
  max-width: 100%;
}

#about .img {
  width: 55%;
  
}

#about .img  img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

#about .text {
  width: 45%;
  padding: 0 5%;
}

#about h2 {
  margin-top: 180px;
  margin-bottom: 50px;
}


#about .text p {
  font-size: 14px;
  line-height: 31px;
}






/* --------------BUSINESS---------------------   */
#business-flex {
  display: flex;
}

#business-flex #business-left {
  margin: 50px 30px 120px 100px;
}

#business-flex #business-right {
  margin-left: 30px;
  margin-right:100px ;
}

#business-flex #business-left,
#business-flex #business-right {
  width: 46%;
}

#business-flex p {
margin-top: 50px;
margin-bottom: 10px;
}

#business-flex #business-right #right-p {
  margin-top: 0;
}

#business p {
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}

#business p::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}




/* ----------------COMPANY-------------   */
#company {
  height: 750px;
  position: relative;
  display: flex;
  margin-bottom: 110px;
}

#company-text {
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;

}

#company .dl-flex {
  display: flex;
  justify-content: left;
  font-size: 14px;
  line-height: 35px;
}

#company .dl-flex dd {
  width: 80%;
}

#company .dl-flex dt {
  width: 20%;
}

#company img {
  width: 45%;
  height: 400px;
  position: absolute;
  top: 115px;
  left: 450px;
}


/* ----------------footer-------------   */
footer {
  background-color: #fff;
  font-size: 14px;
  line-height: 21px;
}

#footer .wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

#footer-flex {
  display: flex;
  justify-content: space-between;
}

#footer img {
  margin: 80px 0 60px 0;
  width: 100px;
  height: 25px;
}

#footer #footer-p {
  margin-top: 40px;
}

#footer #copy {
 font-size: 12px;
 line-height: 24px;
}


/* ----------------@media-------------   */
@media screen and (max-width: 900px) {

  h2::after {
    margin-top: 24px;
  }

  h2 {
    margin-bottom: 24px;
  }

  header {
    padding: 0 16px;
  }

  

/* ----------------@media-   header------------   */
  #header-left {
    flex-direction: column;
    align-items: flex-start;
  }

    #header-a {
      display: none;
    }

    #header-left img {
      margin: 16px 0 7px 0;
    }


    #header-left nav ul li {
      margin: 0 0 15px 30px;
    }

    #header-left nav ul li:nth-child(1) {
      margin-left: 0;
    }

/* ----------------@media-main-visual-----------   */
    #main-visual {
      margin-bottom: 80px;
    }


/* ----------------@media-   newsr------------   */
 
#news .list li {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding: 10px 0;
}


  #news ul {
    flex-direction: column;
  }


  #news .list li:last-child {
    margin-bottom: 0;
  }


/* ----------------@media-   about------------   */
 

  #about {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
  }

  #about .img {
    width: 100%;
  }

  #about .img img {
    height: 300px;
  }


  #about h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #about .text {
    width: 100%;
  }

  /* ----------------@media-   BUSINESS------------   */

  #business-flex {
   flex-direction: column;
  }

  #business-flex #business-left,
#business-flex #business-right {
  width: 100%;
  margin-left: 0;
}

#business-flex #business-left {
  margin-left: 0;
  margin-bottom: 30px;
  margin-top: 0px;

}

#business-flex p {
  margin-top: 30px;
}


  

  /* ----------------@media-   company------------   */


#company .dl-flex,
#company {
  flex-direction: column;
}


#company .dl-flex {
  line-height: 24px;
}

#company {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 80px;
  height: auto;
  position: static;
}

#company-text {
  position: static;
  width: 100%;
  padding: 40px 20px;
}

#company img {
  position: static;
  width: 100%;
  margin-top: 20px;
  height: 400px;
}


#company .dl-flex dd {
  width: 100%;
  padding-left: 14px;
  margin-bottom: 20px;
}

#company .dl-flex dt {
  width: 100%;
}

 /* ----------------@media-   company------------   */

  #footer-flex {
    flex-direction: column;
  }

  #footer img {
    margin: 40px 0 10px 0;
  }

  #footer #footer-p {
    margin-top: 0;
    margin-bottom: 40px;
  }









}
